---
---

<section data-testid="about" id="about" class="flex flex-col py-16 xs:py-10 lg:flex-row">
	<div class="mb-0 flex w-full flex-col items-center justify-center lg:mb-0 lg:w-1/2">
		<h2 class="font-monospace text-2xl text-orange lg:text-5xl">Sobre mí</h2>
		<span class="mb-6 ml-2 h-1 w-10 bg-orange"></span>
	</div>

	<div class="w-full text-black dark:text-white lg:w-1/2">
		<p class="mb-2 text-2xl">
			¡Hola! Soy Fco Antonio Lorca, desarrollador web con interés por la creación de experiencias en
			línea impactantes y funcionales.
		</p>
		<p class="text-2xl">
			Desde que me adentré en este mundo de la programación, he estado buscando construir sitios web
			que no solo sean visualmente atractivos, sino también intuitivos y eficientes en cuanto a
			funcionalidad.
		</p>
	</div>
</section>
