---
import Social from '@components/ui/Social.astro';
---

<section
	data-testid="contact"
	id="contact"
	class="flex flex-col flex-wrap items-center justify-center gap-8 pb-12 text-black dark:text-white lg:mb-0"
>
	<hr class="w-1/2" />
	<div class="flex flex-row gap-8 lg:flex lg:gap-20">
		<Social />
	</div>
</section>
